# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
build/
public/
coverage/

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

